
.container{
    display: flex;


}

.children{
    width: 500px;
    height: 200px;
    background-color: rgba(41, 56, 72,1);
    text-align: center;
    background-image: url(img/imgcouv.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.logo{
    width: 200px;
    height: 200px;
    margin: 0;
    background-image: url(img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    list-style-type: none;

}
.Cata{

}
.espace{

}
.connexion{
}
.pannier{
}

.container2{
    background-color: skyblue;
    width: 0vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    flex-grow: 1;
    list-style-type: none;


}

.CD{

}
.DVD{

}
.livres{

}
.partitions{

}
main{
    display: flex;
    align-content: flex-start;
    list-style-type: none;
}

.container3{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background-color: gray;
    width: 73%;
    height: auto;  
    list-style-type: none;

}
ul{
    display: grid;
    grid-template-columns: 33% 33% 33%;


}
.grid2 ul div li img{
    width: 470px;
    object-fit: unset; 
    height: 500px;
    object-position: left;
    overflow: hidden;

}
.grid2 .ul .im1 img {
    position: relative;
    max-width: 100%;
    transition: transform 2s ease-in-out;

}

li:hover img{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;

}


.im1 li img{
    position: absolute;
}

.details h2{
    position: absolute;
    height: 100%;
    transition: transform 2s;
}
.details{
    visibility: hidden;

}
li:hover .details {
    visibility: visible;
    z-index: 1000;

}
footer{
    background-color: grey;

}
.container{
    width: 100%;
    height: auto;
    background-color: dimgrey;

}






